<div id="container">
  <div id="sup">
    <div id="logo">
      <a><img src="img/logo.png" /></a>
    </div>
    <div id="contacto-icon">
      <img src="img/contacto.png" />
      CONTACTO
    </div>
    <div id="contacto-info">
      <h1>email: lemaurt.designgmail.com</h1>
      <h1>numero: +57 3004130255</h1>
    </div>
    <div id="redes-icon">
      <img src="img/redes.png" />
    </div>
    <div id="redes-info">
      <h1>instagram:Lemuart.design</h1>
      <h1>youtube</h1>
    </div>
  </div>
</div>
<div id="spa">
  <span>pagina creada por &copy;Lemuart 2025</span>
</div>
