<nav
  class="navbar navbar-expand-lg bg-body-tertiary"
  style="margin: 0%; padding: 0%; height: 60px; width: 100%;"
>
  <div
    class="container-fluid"
    style="background-color: #336699; color: #ffffcc; height: 100%; width: 100%;"
  >
    <div
      class="collapse navbar-collapse"
      id="navbarNavAltMarkup"
      style="justify-content: space-evenly"
    >
      <div
        class="navbar-nav"
        style="justify-content: space-around; width: 100%"
      >
        <a
          class="nav-link active"
          aria-current="page"
          routerLink="/"
          style="color: #ffffcc"
          >INICIO</a
        >
        <a
          class="nav-link active"
          routerLink="/productos"
          style="color: #ffffcc"
          >HORARIOS</a
        >
        <a class="nav-link active" routerLink="/contacto" style="color: #ffffcc"
          >CONTACTANOS</a
        >
      </div>
    </div>
  </div>
</nav>
