<div id="texto">
  <div id="fondo">
    <h1>Aca puedes dejarnos tus datos</h1>

    <h1>
      ademas de añadir que podemos hacer por ti, o de que te interesa hablar con
      nosotros
    </h1>
    <h1>o de que te interesa hablar con nosotros</h1>
  </div>
</div>
<div id="division"></div>
<div id="container">
  <div id="card">
    <div id="titulo">
      <h1>Registra tus datos</h1>
    </div>
    <div id="cuerpo">
      <form action="/contactar" method="post">
        <label for="nombre">*Nombre</label
        ><input type="text" id="nombre" name="nombre" required />
        <label for="correo">* Correo</label
        ><input type="email" id="correo" name="correo" required />
        <label for="nombre">*cuentanos que te interesa de nosotros </label
        ><input type="text" id="idea" name="idea" required />
      </form>
      <button type="submit">ENVIAR</button>
    </div>
  </div>
</div>
