<div id="g-container">
  <div id="texto-sup">¡Te ayudamos a organizar!</div>
  <div id="carouselExampleFade" style="height: 100%; width: 100%">
    <div
      id="fondo"
      style="
        padding-top: 10px;
        background-color: #336699;
       
        height: 100%;
        width: 100%;
      
      "
    >
      <div id="img" >
        <img
          src="https://st2.depositphotos.com/1010613/8493/i/450/depositphotos_84930932-stock-photo-businessperson-reading-list-of-work.jpg"
          alt="..."
          style="border-radius: 5%"
        />
        <img
        src="https://st2.depositphotos.com/3591429/9861/i/450/depositphotos_98618808-stock-photo-woman-typing-on-laptop.jpg"
        alt="..."
        style="border-radius: 5%"
      />
      </div>
      
    </div>
    <div
      id="texto-inf"
      style="
        justify-items: center;
        padding-top: 2%;
        text-align: center;
        font-size: 20px;
      "
    >
      <h1 style="font-size: 20px">
        Entendemos que organizar muchas tareas puede ser estresante aca te
        ayudamos
      </h1>
      <h1 style="font-size: 20px">organizar para que todo sea mas facil.</h1>

      <div id="boton" style="justify-self: center; min-width: 20%">
        <a
          routerLink="/productos"
          style="text-decoration: none; width: fit-content + 5px"
          ><div
            id="g-bot"
            style="
              align-self: center;
              height: 100%;
              width: 100%;
              border-radius: 10px;
              background-color: #669999;
              color: #ffffcc;
            "
          >
            ORGANIZATE
          </div>
        </a>
      </div>
      <div
        id="remark"
        style="
          justify-self: center;
          width: 120px;
          height: 10px;
          background-color: #336699;
          margin: 2%;
        "
      ></div>
    </div>
  </div>
</div>
