#g-container {
 
align-items: center;
  color: #336699;
  font-size: 20px;
  justify-self: center;
  width: 100%;
  height: 100%;
}


#texto-sup {
  padding-top: 15px;
  justify-self: center;
}

.carousel-item {
  align-items: center;
  height: 100%;
  width: 100%;
}

.carousel-item  {
  margin: 2%;
  align-items: center;
  width: 100%;
  height: auto;
}
#img{
  align-items: center;
  
  justify-self: center;
  margin: 2%;
}
#fondo{
align-items: center;
  align-self: center;
  width:100%;
}

